@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body {
    font-family: 'raleway', sans-serif;
}

li i {
    color: #5243C2;
    background: rgba(82, 67, 194, 0.103693);
}

.btn-custom-bg {
    background-color: #f496d283;
    color: #3F87F5;
}